.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 27px 10px 18px;
  height: 70px;
  box-shadow: 0 0 20px rgba(157, 157, 157, 0.25); }
  .header__container {
    display: flex;
    align-items: center; }
  .header__link-list {
    display: flex;
    list-style: none; }
  .header__link-item {
    margin-right: 30px; }
    .header__link-item:last-child {
      margin-right: 0; }
  .header__logo {
    width: 110px;
    height: 50px; }

#open-menu-mobile-button {
  margin-right: 21px; }

@media screen and (min-width: 768px) {
  .header {
    padding: 20px 34px 20px 34px;
    height: 143px; }
    .header__link-item {
      margin-right: 60px; }
    .header__logo {
      width: 225px;
      height: 102px; }
    .header__link > img {
      width: 34px; }
  #open-menu-mobile-button {
    margin-right: 89px; }
    #open-menu-mobile-button img {
      width: 59px;
      height: 30px; } }

.menu-mobile {
  position: absolute;
  min-height: 100vh;
  width: 100%;
  padding: 16px 18px 0 18px;
  z-index: 9999;
  background-color: #fff; }
  .menu-mobile__header {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .menu-mobile__close-button {
    position: absolute;
    top: 30px;
    right: 30px; }
    .menu-mobile__close-button img {
      height: 20px;
      width: 20px; }
  .menu-mobile__list {
    margin-top: 82px;
    list-style: none; }
  .menu-mobile__item {
    color: var(--black);
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 19px;
    font-weight: 500; }
    .menu-mobile__item:last-child {
      margin-bottom: 0; }
  .menu-mobile__link {
    color: var(--black);
    text-decoration: none;
    font-weight: 500; }
  .menu-mobile__footer {
    margin-top: 30%;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .menu-mobile__email {
    font-weight: 700;
    color: var(--black);
    text-decoration: none;
    font-size: 16px;
    line-height: 20px; }

.menu-icon__list {
  display: flex;
  align-items: center;
  margin-top: 41px; }

.menu-icon__item {
  margin-right: 29px;
  margin-bottom: 0; }
  .menu-icon__item:last-child {
    margin-right: 0; }

.social-menu__list {
  list-style: none;
  display: flex;
  margin-top: 40px; }

.social-menu__item {
  margin-right: 20px; }
  .social-menu__item:last-child {
    margin-right: 0; }

@media screen and (min-width: 768px) {
  .menu-mobile {
    padding: 30px 34px 0 34px; }
    .menu-mobile .logo {
      width: 220px;
      height: 100px; }
    .menu-mobile__close-button {
      top: 60px;
      right: 60px; }
      .menu-mobile__close-button img {
        height: 40px;
        width: 40px; }
    .menu-mobile__list {
      margin-top: 173px; }
    .menu-mobile__item {
      color: var(--black);
      margin-bottom: 40px;
      font-size: 32px;
      line-height: 38px; }
    .menu-mobile__link {
      color: var(--black);
      text-decoration: none;
      font-weight: 500; }
    .menu-mobile__footer {
      display: flex;
      flex-direction: column;
      align-items: center; }
    .menu-mobile__email {
      font-size: 32px;
      line-height: 41.6px; }
  .menu-icon__list {
    margin-top: 82px; }
  .menu-icon__item {
    margin-right: 60px;
    margin-bottom: 0; }
    .menu-icon__item:last-child {
      margin-right: 0; }
    .menu-icon__item .user-icon {
      width: 34px;
      height: 40px; }
    .menu-icon__item .basket-icon {
      width: 38px;
      height: 34px; }
  .social-menu__list {
    margin-top: 80px; }
  .social-menu__item {
    margin-right: 40px; }
    .social-menu__item img {
      width: 102px;
      height: 102px; } }

.slick-dots {
  list-style: none;
  display: flex !important; }
  .slick-dots li {
    margin-right: 15px; }
    .slick-dots li:last-child {
      margin-right: 0px; }
  .slick-dots button {
    height: 13px;
    width: 13px;
    font-size: 0;
    border: none !important;
    border-radius: 50%;
    background-color: #E4E4E4; }
  .slick-dots .slick-active button {
    background-color: #F9B300; }

.slick-slide {
  margin: 0 10px; }

.slick-list {
  margin: 0 -10px; }

@media screen and (min-width: 768px) {
  .slick-dots li {
    margin-right: 30px; }
  .slick-dots button {
    width: 25px;
    height: 25px; } }

label > input[type="radio"] {
  display: none; }

label > input[type="radio"] + *::before {
  content: "";
  display: inline-block;
  vertical-align: bottom;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: #E4E4E4; }

label > input[type="radio"]:checked + *::before {
  background-color: #F9B300; }

label > input[type="radio"] + * {
  display: inline-block;
  margin-right: 16px;
  font-size: 0; }

.carousel-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden; }

.carousel {
  display: grid;
  align-items: center;
  column-gap: 20px; }

.carousel-catalog-inputs {
  display: block;
  margin: 0 auto;
  margin-top: 15px; }

.carousel-catalog-inputs label > input[type="radio"] + * {
  display: inline-block;
  margin-right: 15px;
  font-size: 0; }

.carousel-inputs {
  display: flex;
  justify-content: space-between; }

.carousel-inputs #left-arrow,
.carousel-inputs #right-arrow {
  border: none;
  background: none;
  height: 60px; }

.intro {
  position: relative;
  padding: 0 18px;
  background: url("/images/coffee.png") right top 180px no-repeat, url("/images/bg-1.svg") right -320px top -35px no-repeat;
  overflow: hidden; }
  .intro__title {
    margin-top: 60px;
    font-size: 30px;
    font-weight: 900;
    line-height: 37px; }
  .intro__description {
    margin-top: 30px;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    width: 65%; }
    .intro__description--coffee {
      width: 50%; }
  .intro__image {
    width: 363px;
    height: 242px;
    position: absolute;
    top: 220px;
    right: -140px; }
  .intro__button {
    margin-top: 70px; }
  .intro__slider-inputs {
    margin-top: 137px; }

@media screen and (min-width: 768px) {
  .intro {
    padding: 0 35px;
    background: url("/images/coffee-bg-tablet.png") right top 240px no-repeat, url("/images/bg-1-tablet.svg") right top -90px no-repeat; }
    .intro__title {
      margin-top: 130px;
      font-size: 50px;
      line-height: 62.4px;
      width: 70%; }
    .intro__description {
      margin-top: 80px;
      font-size: 20px;
      line-height: 26px;
      width: 45%; }
      .intro__description--coffee {
        margin-top: 26px;
        width: 40%; }
    .intro__image {
      width: 589px;
      height: 393px;
      position: absolute;
      top: 303px;
      right: -65px; }
    .intro__button {
      margin-top: 145px; }
    .intro__slider-inputs {
      margin-top: 206px; } }

/* Catalog section */
.catalog {
  position: relative;
  margin-top: 70px; }
  .catalog__title {
    margin-left: 18px; }
  .catalog .slick-list {
    padding-top: 30px !important;
    padding-bottom: 15px !important; }
  .catalog__slide {
    height: 269px;
    padding: 15px 20px 0px 20px;
    box-shadow: 0px 0px 15px rgba(146, 146, 146, 0.2);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; }
    .catalog__slide__image {
      height: 50%; }
    .catalog__slide__title {
      font-weight: 700;
      line-height: 21.76px;
      font-size: 18px;
      margin-top: 15px;
      text-align: center; }
    .catalog__slide__button {
      margin-top: 30px; }
  .catalog .slick-dots {
    justify-content: center;
    background-color: transparent; }
  .catalog .slick-slide {
    display: flex !important;
    padding: 15px 20px 30px 20px; }

@media screen and (min-width: 768px) {
  .catalog .slick-dots {
    margin-top: 35px; } }

/*# sourceMappingURL=imports.css.map */
