//Import variables
@import './_variables.scss';

//Import blocks file

@import './blocks/_header.scss';
@import './blocks/_mobile-menu.scss';
@import './blocks/_slider.scss';
@import './blocks/_rating.scss';

//Import section blocks

@import './sections/_intro.scss';
@import './sections/_catalog.scss';
@import './sections/_discount.scss';
@import './sections/_advantages.scss';
@import './sections/_roasting.scss';
@import './sections/_news.scss';