// Colors
$black: #181818;
$black2: #222222;
$primary: #F9B300;
$light-gray: #F0F0F0;
$grey: #5B5B5B;
$dark-grey: #505050;
$white: #fff;

$primary-hover: #E2A300;

// Box shadow
$dbs: rgba(157, 157, 157, 0.25);
$percentdbs: 0px 0px 6.25px rgba(143, 143, 143, 0.25);