//Import variables
@import './variables.scss';

//Import blocks file

@import './blocks/header.scss';
@import './blocks/mobile-menu.scss';
@import './blocks/slider.scss';

//Import section blocks

@import './blocks/sections/intro.scss';
@import './blocks/sections/catalog.scss';