@import './imports.scss';


* {
    font-family: "Gilroy", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.overflow-hidden{
    overflow: hidden;
}

.hidden {
    display: none;
}

.transparent-button {
    background-color: transparent;
    border: 0;
}

b {
    font-weight: 700;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: $primary;
    color: $white;
    
    height: 50px;
    width: 100%;
    
    border: none;
    
    font-weight: 700;
    font-size: 18px;
    text-decoration: none;
    text-align: center;
    
    padding: 14px;
    border-radius: 5px;
}

.select {
    background-color: #FFF7E1;
    border: 1px solid $primary;
    box-sizing: border-box;
    border-radius: 3px;
    padding: 4px 17px 3px 17px;

    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
}

.to-basket-button {
    font-weight: 700;
    font-size: 12px;
    line-height: 14.51px;
    width: 111px;
    height: 30px;
}

.input {
    width: 100%;
    border: none;
    height: 50px;
    padding-left: 40px;
    background: #f3f3f3;
    border-radius: 5px;

    font-weight: 500;
    font-size: 14px;
    line-height: 130%;
}

.input::placeholder {
    color: #C9C9C9;
}

.link{
    color: $primary;
    text-decoration: none;
    font-weight: 600;
}

.logo{
    width: 110px;
    height: 50px;
}

.section-title{
    font-size: 20px;
    font-weight: 900;
    line-height: 25px;
}

@media screen and (min-width: 768px){
    .logo{
        width: 225px;
        height: 102px;
    }

    .section-title{
        font-size: 40px;
        line-height: 49.92px;
    }

    .button{
        height: 70px;
        font-size: 25px;
        line-height: 30px;
    }
}
