/* Catalog section */

.catalog {
    position: relative;
    margin-top: 70px;
    
    &__title{
        margin-left: 18px;
    }

    .slick-list{
        padding-top: 30px !important;
        padding-bottom: 15px !important;
    }

    &__slide{
        height: 269px;
        padding: 15px 20px 0px 20px;
        box-shadow: 0px 0px 15px rgba(146, 146, 146, 0.2);
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        &__image{
            height: 50%;
        }

        &__title{
            font-weight: 700;
            line-height: 21.76px;
            font-size: 18px;
            margin-top: 15px;
            text-align: center;
        }

        &__button{
            margin-top: 30px;
        }
    }

    .slick-dots{
        justify-content: center;
        background-color: transparent;
    }

    .slick-slide{
        display: flex !important;
        padding: 15px 20px 30px 20px;
    }

}

@media screen and (min-width: 768px){
    .catalog{
        .slick-dots{
            margin-top: 35px;
        }
    }
}