.background-overlay{
    background: url("../images/overlay.png") top 250px left no-repeat;
}

@media screen and (min-width: 1024px){
    .background-overlay{
        background: url("../images/overlay/overlay-laptop.png") top -30px left no-repeat;
    }
    
    .top-background-overlay{
        background: url("../images/overlay/top-overlay-laptop.svg") top right no-repeat;
    }
}

