.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding: 10px 27px 10px 18px;
    height: 70px;
    
    box-shadow: 0 0 20px $dbs;

    &__container{
        display: flex;
        align-items: center;
    }

    &__link-icon-list{
        display: flex;
        list-style: none;
    }

    &__link-icon-item{
        margin-right: 30px;
        &:last-child{
            margin-right: 0;
        }
    }

    &__logo{
        width: 110px;
        height: 50px;
    }

    &__link-list{
        display: none;
    }
}

#open-menu-mobile-button{
    margin-right: 21px;
}

@media screen and (min-width: 768px){
    .header{
        padding: 20px 34px 20px 34px;
        height: 143px;    
    
        &__link-icon-item{
            margin-right: 60px;
        }

        &__logo{
            width: 225px;
            height: 102px;
        }

        &__link-icon > img{
            width: 34px;
        }
    }
    
    #open-menu-mobile-button{
        margin-right: 89px;
        & img{
           width: 59px;
           height: 30px; 
        }
    }
}

@media screen and (min-width: 1024px) {
    .header{        
        padding: 10px 85px 13px 85px;
        height: 113px;
        
        box-shadow: none;
    
        &__link-icon-item{
            margin-right: 40px;
        }
    
        &__logo{
            width: 179px;
            height: 80px;
        }

        &__link-icon{
            & img{
                width: 22px;
                height: 22px;
            }
        }

        &__search-form{
            width: 100%;
            margin: 0 20px;
        }

        &__search-input{
            background: url("../images/header/search-input-icon.svg") left 30px center no-repeat;

            padding-left: 72px;
            
            width: 100%;
            height: 42px;

            box-shadow: 0px 0px 20px rgba(157, 157, 157, 0.25);
            border-radius: 30px;
            border: none;
            
            font-weight: 500;
            font-size: 16px;
            line-height: 20.8px;
            
            &::placeholder {
                color: #C4C4C4;
            }
        }

        &__link-list{
            display: flex;
            list-style: none;
        }

        &__link-item{
            margin-right: 66px;
            &:last-child{
                margin-right: 0px;
            }
        }

        &__link{
            text-decoration: none;
            font-weight: 500;
            font-size: 18px;
            line-height: 21.19px;
            color: $black; 
        }

        #open-menu-mobile-button{
            display: none;
        }
    }
}

@media screen and (min-width: 1440px) {
    .header{        
        padding: 10px 120px 0px 120px;
        height: 113px;
        
        box-shadow: none;
    
        &__link-icon-item{
            margin-right: 40px;
        }
    
        &__logo{
            width: 179px;
            height: 80px;
        }

        &__link-icon{
            & img{
                width: 22px;
                height: 22px;
            }
        }

        &__search-form{
            width: 100%;
            margin: 0 20px;
        }

        &__search-input{
            background: url("../images/header/search-input-icon.svg") left 30px center no-repeat;

            padding-left: 72px;
            
            width: 100%;
            height: 42px;

            box-shadow: 0px 0px 20px rgba(157, 157, 157, 0.25);
            border-radius: 30px;
            border: none;
            
            font-weight: 500;
            font-size: 16px;
            line-height: 20.8px;
            
            &::placeholder {
                color: #C4C4C4;
            }
        }

        &__link-list{
            display: flex;
            list-style: none;
        }

        &__link-item{
            margin-right: 66px;
            &:last-child{
                margin-right: 0px;
            }
        }

        &__link{
            text-decoration: none;
            font-weight: 500;
            font-size: 18px;
            line-height: 21.19px;
            color: $black; 
        }

        #open-menu-mobile-button{
            display: none;
        }
    }
}