.menu-mobile {
    position: absolute;
    min-height: 100vh;
    width: 100%;
    padding: 16px 18px 0 18px;
    z-index: 9999;
    background-color: #fff;
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__close-button{
        position: absolute;
        
        top:30px;
        right: 30px;
        img{
            height: 20px;
            width: 20px;
        }
    }

    &__list {
        margin-top: 82px;
        list-style: none;
    }

    &__item {
        color: var(--black);
        margin-bottom: 20px;
        font-size: 16px;
        line-height: 19px;
        font-weight: 500;
        
        &:last-child {
            margin-bottom: 0;
        }
    }

    &__link {
        color: var(--black);
        text-decoration: none;
        font-weight: 500;
    }

    &__footer {
        margin-top: 30%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__email {
        font-weight: 700;
        color: var(--black);
        text-decoration: none;
        font-size: 16px;
        line-height: 20px;
    }
}

.menu-icon {
    &__list {
        display: flex;
        align-items: center;
        margin-top: 41px;
    }

    &__item {
        margin-right: 29px;
        margin-bottom: 0;

        &:last-child {
            margin-right: 0;
        }
    }
}

.social-menu {
    &__list {
        list-style: none;
        display: flex;
        margin-top: 40px;
    }

    &__item {
        margin-right: 20px;

        &:last-child {
            margin-right: 0;
        }
    }
}

@media screen and (min-width: 768px){
    .menu-mobile{
        padding: 30px 34px 0 34px;
        
        .logo{
            width: 220px;
            height: 100px;
        }

        &__close-button{
            top:60px;
            right: 60px;
            
            img{
                height: 40px;
                width: 40px;
            }
        }

        &__list {
            margin-top: 173px;
        }

        &__item{
            color: var(--black);
            margin-bottom: 40px;
            font-size: 32px;
            line-height: 38px;
        }

        &__link {
            color: var(--black);
            text-decoration: none;
            font-weight: 500;
        }
    
        &__footer {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    
        &__email {
            font-size: 32px;
            line-height: 41.6px;
        }
    }

    .menu-icon {
        &__list {
            margin-top: 82px;
        }
    
        &__item {
            margin-right: 60px;
            margin-bottom: 0;
    
            &:last-child {
                margin-right: 0;
            }

            & .user-icon{
                width: 34px;
                height: 40px;
            }

            & .basket-icon{
                width: 38px;
                height: 34px;
            }
        }
    }

    .social-menu {
        &__list {
            margin-top: 80px;
        }
    
        &__item {
            margin-right: 40px;
            
            & img{
                width: 102px;
                height: 102px;
            }
        }
    }
}

@media screen and (min-width: 1024px){
    .menu-mobile{
        display: none;
    }
}