.stars-list,
.roasting-list,
.circles-list,
.titled-rating-list{
    display: flex;
    list-style: none;
}

.star-item{
    font-size: 16px;
}

.circle-item i{
    font-size: 6px;
}

.roasting-item:last-child,
.circle-item:last-child,
.star-item:last-child{
    margin-right: 0px;
}

.star-item i,
.circle-item i{
    color: $light-gray;
}

.star-item-selected i,
.circle-item-selected i{
    color: $primary;
}

.rating-values{
    margin-top: 4px;
}

.rating-mark{
    font-weight: 700;
    font-size: 12.5px;
    line-height: 15px;
}

.rating-count{
    font-weight: 500;
    font-size: 8.75px;
    line-height: 10.3px;
    color: var(--grey);
}

.roasting-list{
    margin-top: 19px;
    margin-bottom: 18px;
}

.roasting-item{
    margin-right: 5px;
    height: 12px;
}

.roasting-item svg{
    fill: $dark-grey;
}

.circle-item{
    height: 6px;
    margin-right: 2px;
}

.rating-title{
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    margin-bottom: 7px;
}

.titled-rating-list{
    flex-direction: column;
}

.titled-rating-item{
    margin-bottom: 9px;
}

@media screen and (min-width: 768px) {   
    .star-item{
        font-size: 18px;
    }

    .rating-values{
        margin-top: 6px;
    }

    .rating-mark{
        font-size: 14px;
        line-height: 16.93px;
    }
    
    .rating-count{
        font-size: 10px;
        line-height: 11.77px;
    }

    .titled-rating-item{
        margin-bottom: 12px;
    }

    .rating-title{
        font-size: 12px;
        line-height: 14.12px;
        margin-bottom: 6px;
    }

    .circle-item{
        height: 6px;
        margin-right: 2px;
    }

    .circle-item i{
        font-size: 6px;
    }

    .roasting-list{
        margin-top: 20px;
        margin-bottom: 25px;
    }

    .roasting-item{
        margin-right: 6px;
        height: 13px;
    }

    .roasting-item svg{
        height: 13px;
        width: 13px;
    }

}