.catalog {
    position: relative;
    margin-top: 70px;
    &__title{
        margin-left: 18px;
    }

    .slick-list{
        padding-top: 30px !important;
        padding-bottom: 15px !important;
    }

    &__slide{
        background: white;
        height: 330px;
        width: 72.5vw !important;
        padding: 15px 20px 30px 20px;
        box-shadow: 0px 0px 15px rgba(146, 146, 146, 0.2);
        border-radius: 10px;
        display: flex !important;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        &__image{
            height: 50%;
        }

        &__title{
            font-weight: 700;
            line-height: 21.76px;
            font-size: 18px;
            margin-top: 15px;
            text-align: center;
        }

        &__button{
            margin-top: 30px;
        }
    }

    .slick-dots{
        justify-content: center;
        background-color: transparent;
    }

    // .slick-slide div{
    //     display: flex !important;
    //    
    // }

}

#catalog__right-arrow,
    #catalog__left-arrow{
        display: none;
    }

@media screen and (min-width: 768px){
    .catalog{
        &__title{
            margin-left: 34px;
        }

        .slick-list{
            padding-top: 60px !important;
            padding-bottom: 35px !important;
        }
        .slick-dots{
            margin-top: 0px;
        }


        &__slide{
            height: 442px;
            width: 60vw !important;
            border-radius: 10px;    
            padding: 5px 40px 40px 40px;
            &__image{
                height: 50%;
            }
    
            &__title{
                font-weight: 700;
                line-height: 26.6px;
                font-size: 22px;
                margin-top: 23px;
                text-align: center;
            }
    
            &__button{
                margin-top: 30px;
            }
        }
    }
}

@media screen and (min-width: 1024px){
    .catalog{
        position: relative;
        padding: 0 86px;

        &__title{
            margin-left: 0;
        }

        .slick-list{
            padding-bottom: 30px !important;
        }
        // &__carousel{
        //     display: grid;
        //     grid-template-columns: repeat(4, 1fr);
        //     padding-top: 62px !important;
        //     padding-bottom: 30px !important;
        // }

        // .carousel-item div{
            
        // }

        &__slide{
            height: 381px;
            width: 280px !important;
            border-radius: 14px;  
            padding: 50px 23px 46px 23px;  
            &__image{
                height: 50%;
            }
    
            &__title{
                line-height: 21.76px;
                font-size: 18px;
                text-align: center;
            }
    
            &__button{
                height: 42px !important;
                font-size: 18px !important;
                line-height: 21.76px !important;
            }
        }
    }

    #catalog__right-arrow,
    #catalog__left-arrow{
        position: absolute;
        display: block;
        top: 250px;
        width: 49px;
        height: 49px;
        background: white;
        border-radius: 50%;
        border: none;
    }

    #catalog__left-arrow{
        left: 18px;
    }

    #catalog__right-arrow{
        right: 18px;
        transform: rotate(180deg);
    }
}