.discount {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 60px;
    padding: 0 18px;
    overflow: hidden;
    &__title {
        text-align: right;
    }

    &__description {
        width: 260px;
        margin-top: 30px;
        font-size: 14px;
        font-weight: 500;
        line-height: 18px;
        text-align: right;
    }

    &__span {
        position: absolute;
        top: 33px;
        left: 26px;
        font-weight: 700;
        font-size: 10px;
        line-height: 12px;
        color: $primary;
    }

    &__percent {
        position: absolute;
        left: 24px;
        top: -22px;

        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 700;
        font-size: 21.88px;
        line-height: 26.45px;
        background-color: $primary;
        width: 44px;
        height: 44px;
        border-radius: 50%;
        filter: drop-shadow($percentdbs);
    }

    &__list {
        align-self: flex-start;
        display: grid;
        grid-template-columns: repeat(2, 250px);
        column-gap: 20px;
        margin-bottom: 13px;
        list-style-type: none;
    }

    &__item {
        background: white;
        position: relative;
        width: 250px;
        border-radius: 12px;
        box-shadow: 0px 0px 12.5px rgba(146, 146, 146, 0.25);
        padding: 60px 26px 30px 24px;

        &__container {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &__image {
            width: 107px;
            height: 193px;
            margin-right: 12px;
        }

        &__title {
            margin-top: 23px;
            font-weight: 900;
            font-size: 15.63px;
            line-height: 19.5px;
        }

        &__description {
            margin-top: 7px;
            font-weight: 500;
            font-size: 10px;
            line-height: 11.77px;
            word-wrap: wrap;
        }

        &__price {
            display: flex;
            flex-direction: column;
            margin-top: 5px;

            .old-price {
                color: #C6C6C6;
                font-weight: 500;
                font-size: 16px;
                line-height: 18.83px;
                margin-bottom: -4.96px;
            }

            .discount-price {
                font-weight: 900;
                font-size: 20px;
                line-height: 24.96px;
            }
        }

        &__button {
            margin-top: 19px;
            height: 30px !important;
            font-size: 12px !important;
            line-height: 14.51px !important;
            width: 111px !important;
        }

        &__footer {
            display: flex;
            justify-content: space-between;
        }
    }

    &__all-link{
        display: none;
        margin-top: 7px;
        color: $black;
        font-weight: 500;
        font-size: 14px;
        line-height: 16.48px;
    }

    .weight-select {
        position: absolute;
        top: 14px;
        right: 24px;
    }

    .slick-list{
        padding-top: 42px;
        overflow: visible !important;
    }

  
}

#discount__right-arrow,
#discount__left-arrow{
    display: none;
}


@media screen and (min-width: 768px) {
    .discount {
        margin-top: 100px;
        padding: 0 36px;
        margin-bottom: 137px;
        &__description {
            width: 470px;
            margin-top: 50px;
            font-size: 20px;
            line-height: 26px;
        }

        &__span {
            top: 48px;
            left: 35px;
            font-size: 14px;
            line-height: 16.93px;
        }
    
        &__percent {
            left: 35px;
            top: -30px;
            font-size: 29.5px;
            line-height: 35.66px;
            width: 60px;
            height: 60px;
        }
        
        &__list {
            margin-left: 118px;
        }

        &__item {
            width: 340px;
            border-radius: 16px;
            box-shadow: 0px 0px 17.0069px rgba(146, 146, 146, 0.25);
            padding: 83px 38px 42px 35px;
    
            &__image {
                width: 144px;
                height: 260px;
                margin-right: 19px;
            }
    
            &__title {
                margin-top: 30px;
                font-size: 22px;
                line-height: 27.46px;
            }
    
            &__description {
                margin-top: 10px;
                font-size: 16px;
                line-height: 18.83px;
            }
    
            &__price {
                margin-top: 3px;
    
                .old-price {
                    font-size: 22px;
                    line-height: 25.89px;
                    margin-bottom: -6px;
                }
    
                .discount-price {
                    font-size: 26px;
                    line-height: 32.45px;
                }
            }
    
            &__button {
                margin-top: 23px;
                height: 40px !important;
                font-size: 16px !important;
                line-height: 19.43px !important;
                width: 149px !important;
            }
        }
    
        .weight-select {
            top: 21px;
            right: 33px;

            width: 110px;
            height: 30px;

            font-size: 16px;
            line-height: 18.83px;

            padding: 6px 20px;
        }
    
        .slick-list{
            padding-top: 80px;
        }
    }
}

@media screen and (min-width: 1024px) {
    .discount {
        margin-top: 0px;
        padding: 0 86px;
        margin-bottom: 137px;
        &__description {
            width: 70%;
            margin-top: 39px;
            font-size: 18px;
            line-height: 23.4px;
        }

        &__span {
            top: 37px;
            left: 25px;
            font-size: 12px;
            line-height: 15px;
        }
    
        &__percent {
            left: 25px;
            top: -25px;
            font-size: 24.8px;
            line-height: 30px;
            width: 50px;
            height: 50px;
        }
        
        &__list {
            margin-left: auto;
            grid-template-columns: repeat(2, 280px);
            overflow: hidden;
            padding: 20px;
            margin-top: 34px;
        }

        &__item {
            width: 280px;
            border-radius: 14px;
            box-shadow: 0px 0px 20px rgba(201, 201, 201, 0.25);
            padding: 66px 25px 37px 25px;
    
            &__image {
                width: 120px;
                height: 218px;
                margin-right: 16px;
            }
    
            &__title {
                margin-top: 28px;
                font-size: 18px;
                line-height: 22.46px;
            }
    
            &__description {
                margin-top: 8px;
                font-size: 12px;
                line-height: 14.12px;
            }
    
            &__price {
                margin-top: 1px;
    
                .old-price {
                    font-size: 18px;
                    line-height: 21.19px;
                    margin-bottom: -3.19px;
                }
    
                .discount-price {
                    font-size: 24px;
                    line-height: 29.9px;
                }
            }
    
            &__button {
                margin-top: 20px;
                height: 33px !important;
                font-size: 12px !important;
                line-height: 14.51px !important;
                width: 125px !important;
            }
        }
        
        &__slider-container{
            display: flex;
            align-items: center;
        }

        .weight-select {
            top: 14px;
            right: 25px;

            width: 93px;
            height: 23px;

            font-size: 12px;
            line-height: 14px;

            padding: 4px 19px;
        }
    
        .slick-list{
            padding-top: 54px;
        }

        &__all-link{
            display: block;
        }
    }

    #discount__right-arrow,
    #discount__left-arrow{
        display: block;
        top: 250px;
        width: 49px;
        height: 49px;
        background: $primary;
        border-radius: 50%;
        border: none;
    }

    #discount__right-arrow{
        margin-left: 40px;
    }

    #discount__left-arrow{
        margin-right: 40px;
        transform: rotate(180deg);
    }

    .slick-list{
        padding-top: 42px;
        overflow: hidden !important;
    }
}