.footer{
    margin-top: 60px;
    padding-bottom: 50px;
    
    &__navigation{
        display: flex;
        justify-content: center;
        
        &__list{
            display: flex;
            list-style-type: none;
        }

        &__item{
            margin-right: 30px;
            &:last-child{
                margin-right: 0px;
            }
        }

        &__link{
            text-decoration: none;
            color: var(--black);
            font-weight: 500;
            font-size: 12px;
            line-height: 14.12px;
        }
    }

    &__logo-link{
        display: flex;
        margin-top: 30px;
        justify-content: center;
    }

    &__logo{
        width: 110px;
        height: 50px;
    }
}

@media screen and (min-width: 768px) {
    .footer{
        margin-top: 100px;
        padding-bottom: 80px;
        
        &__navigation{
            &__item{
                margin-right: 60px;
            }
    
            &__link{
                font-size: 25px;
                line-height: 29.43px;
            }
        }
    
        &__logo-link{
            margin-top: 50px;
        }
    
        &__logo{
            width: 225px;
            height: 102px;
        }
    }    
}