.instagram {
    padding: 0 18px;
    padding-top: 24px;
    padding-bottom: 65px;
    background:
        url('../images/instagram/iphone.png') top 49px right -35px no-repeat,
        url('../images/instagram/bg.svg') top 110px center no-repeat,
        linear-gradient(to bottom, #FFF7E1 0%, #FFF7E1 50%, #fff 50%, #FFF 100%) no-repeat top center;
    background-size: auto, 100%, auto;

    &__link {
        display: block;
        margin-top: 20px;

        img {
            width: 40px;
            height: 40px;
        }
    }

    &__photo-list {
        display: flex;
        margin-top: 43px;
        list-style-type: none;
    }

    &__photo-item {
        margin-right: 20px;

        &:last-child {
            margin-right: 0;
        }
    }

    &__photo {
        width: 160px;
        height: 183px;
        border-radius: 10px;
        object-fit: cover;
    }

    &__next-button {
        display: flex;
        margin-top: 20px;
        align-items: center;
        justify-content: center;
        background: #fff;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: none;
    }
}

@media screen and (min-width: 768px) {
    .instagram {
        padding: 0 35px;
        padding-top: 50px;
        padding-bottom: 160px;
        background:
            url('../images/instagram/iphone-tablet.png') top 60px right no-repeat,
            url('../images/instagram/bg.svg') top 230px center no-repeat,
            linear-gradient(to bottom, #FFF7E1 0%, #FFF7E1 50%, #fff 50%, #FFF 100%) no-repeat top center;
        background-size: auto, 100%, auto;

        &__link {
            margin-top: 40px;

            img {
                width: 81px;
                height: 81px;
            }
        }

        &__photo-list {
            margin-top: 91px;
        }

        &__photo {
            width: 340px;
            height: 389px;
        }

        &__next-button {
            margin-top: 32px;
            width: 80px;
            height: 80px;

            img {
                width: 30px;
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    .instagram {
        position: relative;
        padding: 0 86px;
        padding-top: 60px;
        padding-bottom: 160px;
        overflow: hidden;
        background:
            url('../images/instagram/iphone-laptop.png') top 120px left no-repeat,
            url('../images/instagram/bg-laptop.svg') top 300px center no-repeat,
            linear-gradient(to bottom, #FFF7E1 0%, #FFF7E1 50%, #fff 50%, #FFF 100%) no-repeat top center;
        background-size: auto, 100%, auto;

        &__photo-list {
            position: relative;
            display: grid;
            grid-template-columns: repeat(3, 280px);
            gap: 20px;
            right: -250px;
            .slick-list {
                grid-column: span 3;
            }
        }

        &__title-container {
            display: flex;
            align-items: center;
        }

        &__link {
            margin-top: 0px;
            margin-left: 30px;

            img {
                width: 60px;
                height: 60px;
            }
        }

        &__photo-list {
            margin-top: 50px;
        }

        &__photo {
            width: 280px;
            height: 270px;
        }

        &__next-button {
            margin-top: 32px;
            width: 80px;
            height: 80px;

            img {
                width: 30px;
            }
        }

        &__next-button {
            top: 420px;
            right: 36px;
            width: 49px;
            height: 49px;
            position: absolute;
            transform: rotate(180deg);

            img {
                width: 18px;
            }
        }
    }
}

@media screen and (min-width: 1160px) {
    .instagram{
        background:
        url('../images/instagram/iphone-laptop.png') top 120px left no-repeat,
        url('../images/instagram/bg-laptop.svg') top 200px center no-repeat,
        linear-gradient(to bottom, #FFF7E1 0%, #FFF7E1 50%, #fff 50%, #FFF 100%) no-repeat top center;
        &__photo-list {
            right: -220px;
        }
    }
}

@media screen and (min-width: 1280px) {
    .instagram{
        background:
        url('../images/instagram/iphone-laptop.png') top 120px left no-repeat,
        url('../images/instagram/bg-laptop.svg') top 200px center no-repeat,
        linear-gradient(to bottom, #FFF7E1 0%, #FFF7E1 50%, #fff 50%, #FFF 100%) no-repeat top center;
        background-size: auto, 100%, auto;
        &__photo-list {
            right: -420px;
        }
    }
}

@media screen and (min-width: 1330px) {
    .instagram{
        background:
        url('../images/instagram/iphone-laptop.png') top 120px left no-repeat,
        url('../images/instagram/bg-desktop.svg') top 150px center no-repeat,
        linear-gradient(to bottom, #FFF7E1 0%, #FFF7E1 50%, #fff 50%, #FFF 100%) no-repeat top center;

        background-size: auto, 100%, auto;
    }
}

@media screen and (min-width: 1440px){
    .instagram{
        background:
        url('../images/instagram/iphone-laptop.png') top 120px left no-repeat,
        url('../images/instagram/bg-desktop.svg') top 110px center no-repeat,
        linear-gradient(to bottom, #FFF7E1 0%, #FFF7E1 50%, #fff 50%, #FFF 100%) no-repeat top center;

        background-size: auto, 100%, auto;
        &__photo-list {
            right: -620px;
        }
    }
}