.intro {
    position: relative;
    padding: 0 18px;
    background: url("./images/coffee.png") right top 180px no-repeat,
                url("./images/bg-1.svg") right -320px top -35px no-repeat;
    overflow: hidden;

    &__title{
        margin-top: 60px;
        font-size: 30px;
        font-weight: 900;
        line-height: 37px;
    }

    &__description{
        margin-top: 30px;
        font-weight: 600;
        font-size: 14px;
        line-height: 18px;
        width: 65%;

        &--coffee{
            width: 50%;
        }
    }

    &__image{
        width: 363px;
        height: 242px;
        position: absolute;
        top: 220px;
        right: -140px;
    }

    &__button {
        margin-top: 70px;
    }

    &__slider-inputs {
        margin-top: 137px;
    }
}

@media screen and (min-width: 768px){
    .intro{
        padding: 0 35px;

        background: url("/images/coffee-bg-tablet.png") right top 240px no-repeat,
                    url("/images/bg-1-tablet.svg") right top -90px no-repeat;

        &__title{
            margin-top: 130px;
            font-size: 50px;
            line-height: 62.4px;
            width: 70%;
        }

        &__description{
            margin-top: 80px;
            font-size: 20px;
            line-height: 26px;
            width: 45%;
    
            &--coffee{
                margin-top: 26px;
                width: 40%;
            }
        }
    
        &__image{
            width: 589px;
            height: 393px;
            position: absolute;
            top: 303px;
            right: -65px;
        }
    
        &__button {
            margin-top: 145px;
        }

        &__slider-inputs {
            margin-top: 206px;
        }
    }
}

