.mailing{
    padding: 0 18px;

    &__image{
        display: block;
        margin: 0 auto;
        margin-top: 0px;
        width: 100%;
    }

    &__title{
        margin-top: 14px;
    }

    &__description{
        margin-top: 30px;
        font-weight: 500;
        font-size: 14px;
        line-height: 18.2px;
        color: $black2;
    }

    &__form{
        margin-top: 20px;
        
        &__description{
            margin-top: 10px;
            font-weight: 500;
            font-size: 10px;
            line-height: 13px;
            color: #5B5B5B;
        }
    }

    &__submit{
        margin-top: 20px;
    }
}

@media screen and (min-width: 768px) {
    .mailing{
        padding: 0 35px;
    
        &__image{
            width: 537px;
        }
    
        &__title{
            margin-top: 7px;
        }
    
        &__description{
            margin-top: 50px;
            font-size: 20px;
            line-height: 26px;
        }
    
        &__form{
            margin-top: 50px;
            
            &__description{
                margin-top: 20px;
                font-size: 20px;
                line-height: 26px;
            }

            input{
                height: 70px;
                font-size: 22px;
                line-height: 28.6px;
            }
        }
    
        &__submit{
            margin-top: 20px;
        }
    }
}

@media screen and (min-width: 1024px) {
    .mailing{
        // overflow-x: hidden;
        position: relative;
        padding: 0 86px;
        padding-right: 0px;

        &__image{
            position: absolute;
            top: -150px;
            right: -50px;
            width: 537px;
        }
    
        &__title{
            margin-top: 0px;
            width: 500px;
        }
    
        &__description{
            margin-top: 40px;
            font-size: 18px;
            line-height: 23.4px;
            width: 500px;
        }
    
        &__form{
            position: relative;
            margin-top: 38px;
            width: 780px;
            display: flex;
            align-items: center;
            &__description{
                margin-top: 14px;
                font-size: 12px;
                line-height: 15.6px;
            }

            input{
                
                height: 56px;
                font-size: 18px;
                line-height: 130%;
                border-radius: 28px;
            }
        }
    
        &__submit{
            position: absolute;
            right: 0;
            margin-top: 0px;
            border-radius: 28px !important;
            width: 179px !important;
            height: 57px !important;

            font-size: 18px !important;
            line-height: 22.28px !important;
        }
    }
}

@media screen and (min-width: 1280px) {
    .mailing{
        &__title{
            width: auto;
        }
    }
}