.news{
    margin-top: 70px;
    padding: 0 18px;
    background:linear-gradient(to left, #FFF7E1, #FFF7E1) no-repeat top 125px center;
    
    &__list{
        list-style: none;
    }

    &__item{
        background-color: #fff;
        border-radius: 20px 20px 10px 10px;
        box-shadow: 0px 0px 12.5px rgba(146, 146, 146, 0.25);
    }

    &__preview{
        border-radius: 20px 20px 0px 0px;
        object-fit: cover;
        width: 100%;
        height: 137px;
    }

    &__article{
        padding: 40px 30px 40px 40px;
    }

    &__title{
        font-weight: bold;
        font-size: 16px;
        line-height: 130%;
        margin-bottom: 40px;
    }

    &__description{
        font-weight: 500;
        font-size: 14px;
        line-height: 130%;
        margin-bottom: 18px;

        &:last-child{
            margin-bottom: 0;
        }
    }
    
    &__continue-link{
        display: flex;
        margin-top: 43px;
        color: $primary;
        text-decoration: none;
        align-items: center;
        span{
            margin-right: 13px;
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;
        }
    }

    &__all-link{
        display: block;
        margin-top: 30px;
        color: #222;
        text-align: right;
        font-weight: 500;
        font-size: 12px;
        line-height: 15.6px;
    }
}


@media screen and (min-width: 768px) {
    .news{
        margin-top: 80px;
        padding: 0 35px;
        background:linear-gradient(to left, #FFF7E1, #FFF7E1) no-repeat top 260px center;
    
        &__item{
            border-radius: 40px 40px 20px 20px;
        }
    
        &__preview{
            border-radius: 40px 40px 0px 0px;
            object-fit: cover;
            width: 100%;
            height: 280px;
        }
    
        &__article{
            padding: 60px 80px 80px 80px;
        }
    
        &__title{
            font-size: 25px;
            margin-bottom: 50px;
        }
    
        &__description{
            font-size: 20px;
            margin-bottom: 26px;
        }
        
        &__continue-link{
            margin-top: 40px;
            span{
                margin-right: 20px;
                font-size: 25px;
                line-height: 29px;
            }
        }
    
        &__all-link{
            margin-top: 50px;
            font-size: 25px;
            line-height: 130%;
        }
    }
    
    .carousel-inputs{
        margin-top: 30px;
        margin-bottom: 55px;
    }

    #left-arrow img,
    #right-arrow img{
        width: 100px;
    }
}

@media screen and (min-width: 1024px) {
    .news{
        position: relative;
        margin-top: 25px;
        padding: 0 84px;
        background:
        url("../images/news/top-bg-laptop.svg") no-repeat top 35px center,
        linear-gradient(to left, #FFF7E1, #FFF7E1) no-repeat top 245px center;
        
        &__list{
            margin-top: 45px;
            display: grid;
            grid-template-columns: repeat(29, 1fr);
            gap: 20px;
        }
    
        &__item{
            display: flex;
            height: 300px;
            background-color: #fff;
            border-radius: 14px;
            grid-column: span 10;
            box-shadow: 0px 0px 12.5px rgba(146, 146, 146, 0.25);
            &--previewed{
                grid-column: span 19;

                .news__title{
                    margin-bottom: 20px;
                }
            }
            .news__title{
                margin-bottom: 30px;
            }
        }
    
        &__preview{
            border-radius: 14px 0px 0px 14px;
            width: 183px;
            height: 300px;
        }
    
        &__article{
            padding: 30px 30px 20px 30px;
        }
    
        &__title{
            font-size: 18px;
        }
    
        &__description{
            font-weight: 500;
            font-size: 14px;
            line-height: 130%;
            margin-bottom: 18px;
        }
        
        &__continue-link{
            margin-top: 30px;
            span{
                font-size: 14px;
                line-height: 17px;
            }
        }
    
        &__all-link{
            position: absolute;
            top:15px;
            right: 86px;
            margin-top: 0;
            display: block;
            font-size: 18px;
            line-height: 23.4px;
        }
    }
    .carousel-inputs{
        display: none;
    }
}

@media screen and (min-width: 1280px) {
    .news{
        background-size: 100%;
        &__item{
            height: 283px;
            grid-column: span 12;
            &--previewed{
                grid-column: span 17;
            }
        }

        &__preview{
            width: 238px;
            height: 283px;
        }
    }
}