.roasting{
    padding: 0 18px;
    padding-top: 80px;
    background: url("../images/advantages/bg-bottom.svg") center top -2px no-repeat,
                url("../images/roasting/bg-bottom.svg") center bottom 7px no-repeat,
                url("../images/roasting/bg-center.png") center bottom 23px no-repeat;
    background-size: 100%;

    &__title{
        color: #fff;
        margin-bottom: 30px;
    }

    &__description{
        color: #fff;
        font-weight: 500;
        font-size: 14px;
        line-height: 18.2px;
        margin-bottom: 18.2px;
        
        &:last-child{
            margin-bottom: 0;
        }
    }

    &__button{
        margin-top: 40px;
    }
}


@media screen and (min-width: 768px) {
    .roasting{
        padding: 0 35px;
        padding-top: 186.44px;
    
        &__title{
            margin-bottom: 68.59px;
        }
    
        &__description{
            font-size: 20px;
            line-height: 26px;
            margin-bottom: 26px;
        }
    
        &__button{
            margin-top: 93px;
        }
    }    
}

@media screen and (min-width: 1024px) {
    .roasting{
        padding: 0 84px;
        padding-top: 157px;
        padding-bottom: 112px;
        background: url("../images/roasting/bg-top-laptop.svg") center top -2px no-repeat,
                    url("../images/roasting/bg-bottom-laptop.svg") center bottom 20px no-repeat,
                    url("../images/roasting/bg-center-laptop.png") center bottom 23px no-repeat;
        
        background-size: 100%;
        &__title{
            margin-bottom: 69px;
        }
    
        &__description{
            font-size: 18px;
            line-height: 23.4px;
            margin-bottom: 23.4px;
            
            &:last-child{
                margin-bottom: 0;
            }
        }
    
        &__button{
            margin-top: 70px;
            width: 283px !important;
            height: 56px !important;

            font-size: 21px !important;
            line-height: 25.39px;
        }
    }
    
}