.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 27px 10px 18px;
    height: 70px;
    box-sizing: border-box;
    box-shadow: 0 0 20px rgba(157, 157, 157, 0.25);
}

.header-container{
    display: flex;
    align-items: center;
}

.header-link-list{
    display: flex;
    list-style: none;
}

.header-link-item{
    margin-right: 30px;
}

.header-link-item:last-child{
    margin-right: 0;
}

.open-menu-mobile-button{
    margin-right: 21px;
}