
/* Discount section */

.discount-section{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 60px;
    padding: 0 18px;
    overflow: hidden;
}

.discount-section-title{
    text-align: right;
}

.discount-section-description{
    width: 260px;
    margin-top: 30px;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    text-align: right;
}

.discount-items{
    align-self: flex-start;
    display: grid;
    grid-template-columns: repeat(2, 250px);
    column-gap: 20px;
    margin-top: 42px;
    margin-bottom: 13px; 
    list-style-type: none;
}

.discount-item{
    position: relative;
    width: 250px;
    border-radius: 12px;
    box-shadow: 0px 0px 12.5px rgba(146, 146, 146, 0.25);
    padding: 60px 26px 30px 24px;
}

.discount-span{
    position: absolute;
    top: 33px;
    left: 26px;
    font-weight: 700;
    font-size: 700;
    line-height: 12px;
    color: var(--primary);
}

.percent-icon{
    position: absolute;
    left:24px;
    top: -22px;

    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 21.88px;
    line-height: 26.45px;
    background-color: var(--primary);
    width: 44px;
    height: 44px;
    border-radius: 50%;
    filter: drop-shadow(0px 0px 6.25px rgba(143, 143, 143, 0.25));
}

.weight-select{
    position: absolute;
    top: 14px;
    right: 24px;
}

.discount-item-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.discount-item-image{
    width: 107px;
    height: 193px;
}

.discount-item-title{
    font-weight: 900;
    font-size: 15.63px;
    line-height: 19.5px;
}

.discount-item-description{
    margin-top: 7px;
    font-weight: 500;
    font-size: 10px;
    line-height: 11.77px;
    word-wrap: wrap;
}

.discount-item-price{
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}

.old-price{
    color: #C6C6C6;
    font-weight: 500;
    font-size: 16px;
    line-height: 18.83px;
    margin-bottom: -1.4px;
}
.discount-price{
    font-weight: 900;
    font-size: 20px;
    line-height: 24.96px;
}

.discount-item-footer{
    display: flex;
    justify-content: space-between;
}

.to-basket-button{
    margin-top: 19px;
}

/* Advantages section */

.advantages-section{
    padding: 0 18px;
    padding-top: 47px;
    padding-bottom: 64px;
    background-color: #FFF7E1;
    background:url("/images/advantages/bg-top.svg") center top no-repeat,
    url("/images/advantages/bg-center.svg") center top 62px no-repeat;
    background-size: 100%;
}

.advantages-title{
    width: 230px;
}

.advantages-list{
    margin-top: 30px;
    list-style: none;
}

.advantages-item{
    margin-bottom: 30px;
    display: flex;
    align-items: flex-start;
}

.advantages-item:last-child{
    margin-bottom: 0px;
}

.advantages-item-icon-container{
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: var(--primary);
    border-radius: 50%;
}

.advantages-item-icon{
    height: 14.29px;
}

.advantages-item-container{
    margin-left: 20px;
}

.advantages-item-title{
    font-weight: 700;
    font-size: 16px;
    line-height: 19.34px;
}

.advantages-item-description{
    margin-top: 13px;
    font-weight: 500;
    font-size: 12px;
    line-height: 15.6px;
}


/* Roasting section */

.roasting-section{
    padding: 0 18px;
    padding-top: 80px;
    background: url("/images/advantages/bg-bottom.svg") center top no-repeat,
                url("/images/roasting/bg-bottom.svg") center bottom 23px no-repeat,
                url("/images/roasting/bg-center.png") center bottom 23px no-repeat;
    background-size: 100%;
}

.roasting-section-title{
    color: #fff;
    margin-bottom: 30px;
}

.roasting-section-description{
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    line-height: 18.2px;
    margin-bottom: 18.2px;
}

.roasting-section-description:last-child{
    margin-bottom: 0;
}

.roasting-section-button{
    margin-top: 40px;
}

/* News section */

.news-section{
    margin-top: 70px;
    padding: 0 18px;
    background:linear-gradient(to left, #FFF7E1, #FFF7E1) no-repeat top 125px center;
}

.news-list{
    list-style: none;
}

.news-item{
    background-color: #fff;
    border-radius: 20px 20px 10px 10px;
}

.news-preview{
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
    width: 100%;
    height: 137px;
}

.news-article{
    padding: 40px 30px 40px 40px;
}

.news-title{
    font-weight: bold;
    font-size: 16px;
    line-height: 130%;
    margin-bottom: 40px;
}

.news-description{
    font-weight: 500;
    font-size: 14px;
    line-height: 130%;
    margin-bottom: 18px;
}

.news-description:last-child{
    margin-bottom: 0;
}

.news-continue-link{
    display: block;
    margin-top: 43px;
    color: var(--primary);
    text-decoration: none;
}

.news-continue-link span{
    margin-right: 13px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

.all-news-link{
    display: block;
    margin-top: 30px;
    color: #222;
    text-align: right;
    font-weight: 500;
    font-size: 12px;
    line-height: 15.6px;
}

/* Instagram section */

.instagram-section{
    padding: 0 18px;
    padding-top: 24px;
    padding-bottom: 65px;
    background:
    url(/images/instagram/iphone.png) top 49px right -35px no-repeat,
    url(/images/instagram/bg-middle.svg) top 110px center no-repeat,
    url(/images/instagram/bg-bottom.svg) bottom right no-repeat,
    linear-gradient(to bottom, 
    #FFF7E1 0px,
    #FFF7E1 50%,
            var(--primary) 50%,
            var(--primary) 87%,
            #fff 87%,
            #fff 100%) top center no-repeat;
               
}

.instagram-link{
    display: block;
    margin-top: 20px;
}

.instagram-link img{
    width: 40px;
    height: 40px;
}

.instagram-photo-list{
    display: flex;
    margin-top: 43px;
    list-style-type: none;
}

.instagram-photo-item{
    margin-right: 20px;
}

.instagram-photo-item:last-child{
    margin-right: 0;
}

#change-inst-photo-btn{
    display: flex;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    background: #fff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
}

.mailing-section{
    padding: 0 18px;
}

.mailing-section-image{
    display: block;
    margin: 0 auto;
    margin-top: -30px;
    width: 100%;
}

.mailing-section-title{
    margin-top: 14px;
}

.mailing-section-description{
    margin-top: 30px;
    font-weight: 500;
    font-size: 14px;
    line-height: 18.2px;
    color: var(--black2);
}

.mailing-section-form{
    margin-top: 20px;
}

.mailing-section-submit{
    margin-top: 20px;
}

.mailing-section-form-description{
    margin-top: 10px;
    font-weight: 500;
    font-size: 10px;
    line-height: 13px;
}

.footer{
    margin-top: 60px;
    padding-bottom: 50px;
}

.footer-navigation-list{
    display: flex;
    list-style-type: none;
}

.footer-navigation{
    display: flex;
    justify-content: center;

}

.footer-navigation-item{
    margin-right: 30px;
}

.footer-navigation-item:last-child{
    margin-right: 0px;
}

.footer-navigation-link{
    text-decoration: none;
    color: var(--black);
    font-weight: 500;
    font-size: 12px;
    line-height: 14.12px;
}

.footer-logo-link{
    display: flex;
    margin-top: 30px;
    justify-content: center;
}