

.footer{
    margin-top: 60px;
    padding-bottom: 50px;
}

.footer-navigation-list{
    display: flex;
    list-style-type: none;
}

.footer-navigation{
    display: flex;
    justify-content: center;

}

.footer-navigation-item{
    margin-right: 30px;
}

.footer-navigation-item:last-child{
    margin-right: 0px;
}

.footer-navigation-link{
    text-decoration: none;
    color: var(--black);
    font-weight: 500;
    font-size: 12px;
    line-height: 14.12px;
}

.footer-logo-link{
    display: flex;
    margin-top: 30px;
    justify-content: center;
}